@font-face {
    font-family:"Squada One";
    font-style:normal;
    font-weight:400;
	/* src: url("../fonts/Fruity microfont.ttf"); */
	src:local("Squada One"), local("SquadaOne-Regular"), url("../fonts/SquadaOne.woff") format("woff");
}

/*scale from 0 to 1 for length of animation, change opacity from 0 to 1 after 25%*/
@keyframes animate-sites {
    0% { transform:scale(0) translateY(0vh); opacity:0; }
    25% { opacity:1; }
    100% { transform:scale(1) translateY(0); opacity: 1; }
}

@keyframes animate-opacity {
    0% { transform: translateY(0vh) scale(0); opacity:0; }
    100% { transform: translateY(0) scale(1); opacity:1; }
}

@keyframes animate-panel {
    0% { box-shadow:none; height:275px; }
    100% {  height:275px; }
}

@-webkit-keyframes animate-sites {
    0% { -webkit-transform:scale(0) translateY(0vh); opacity:0; }
    25% { opacity:1; }
    100% { -webkit-transform:scale(1) translateY(0); opacity: 1; }
}

@-webkit-keyframes animate-opacity {
    0% { -webkit-transform: translateY(0vh) scale(0); opacity:0; }
    100% { -webkit-transform: translateY(0) scale(1); opacity:1; }
}

@-webkit-keyframes animate-panel {
    0% { box-shadow:none; height:275px; }
    100% {  height:275px; }
}
*:focus {
    outline:none!important;
    -moz-outline:none!important;
    -moz-user-focus:none!important;
}
body, html {
    background:#fff;
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
}
button, input {
    -moz-transition:all .6s ease;
    transition:all .6s ease;
    -moz-appearance:none;
    appearance:none;
}
#parent {
    min-height:100%;
    position:relative;
}
#panel {
    background:rgba(34,34,34,.2);
    border:1px solid rgba(30,30,30,.2);
    border-top:1px solid rgba(44,44,44,.2);
    border-bottom:1px solid rgba(24,24,24,.2);
    background: white;
    position:absolute;
    top:0;
    bottom:0;
    left:1rem;
    right:1rem;
border: 0;
    height:275px;
    margin-left: 2rem; margin-right: 2rem;
    margin-top: auto; margin-bottom: auto;
    /*box-shadow:rgba(0,0,0,0) 0 0 10px;*/
    box-shadow: none;
    border-radius: 5px;
    animation: animate-panel .7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-animation: animate-panel .7s cubic-bezier(0.680, 0, 0.265, 1.550);
}
#panel, #sites, #search, button, input {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#navigation {
    height:28px;
    position:absolute;
    top:-28px;
    width:100%;
    -webkit-animation: animate-opacity .8s ease-in;
    -moz-animation: animate-opacity .8s ease-in;
}
#navigation ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
#navigation ul li {
    background:rgba(22,22,22,.2);
    visibility: hidden;
    border-bottom:1px solid rgba(48,48,48,.4);
    display:inline-block;
    position:relative;
    height:10px;
    width:10px;
    border-radius:5px;
}
#navigation ul li.selected::before {
    background:-moz-linear-gradient(top, #a9a9a9 0%, #a49999 35%, #898989 65%, #707070 101%);
    background:-webkit-linear-gradient(top, #a9a9a9 0%, #a49999 35%, #898989 65%, #707070 101%);
    background: white;
    content:'';
    opacity:.5;
    display:inline-block;
    position:absolute;
    top:3px;
    left:3px;
    width:4px;
    height:4px;
    border-radius:2px;
    box-shadow:#060606 0 0 3px;
}
#wrapper {
    margin:0 auto;
    width:692px;
}
#sites {
    height:230px;
    padding:5px 10px;
    text-align:center;
	display: none;
}
#sites a {
    background:rgba(22,22,22,.3);
    background: #a1b3ff;
    border:1px solid rgba(30,30,30,.2);
    border-bottom:1px solid rgba(48,48,48,.4);
    color:#a1b3ff;
    color: white;
	display: none;
    font-family:'Squada One';
    font-size:21pt;
    height:100px;
    line-height:100px;
    margin:5px;
    position:relative;
    text-align:center;
    text-decoration:none;
    text-shadow: rgba(48,48,48,.4)  -1px -1px 1px;
    width:100px;
    z-index:1;
    border-radius:5px;
    box-shadow: rgba(0,0,0,.5) 0 0px 6px;
    -webkit-transition: all .4s cubic-bezier(0, -0.550, 0.265, 1.550);
	-moz-transition: all .4s cubic-bezier(0, -0.550, 0.265, 1.550);


	/* on page load tiles pop in */
    -webkit-animation: animate-sites .5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-animation: animate-sites .5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

#sites a:nth-of-type(odd) { animation-duration: .715s; -webkit-animation-duration: .715s; }
#sites a:nth-of-type(even) {animation-duration: .52s;-webkit-animation-duration: .52s; }
#sites a:nth-of-type(3n+0) {animation-duration: .151s;-webkit-animation-duration: .151s; }
#sites a:nth-of-type(5n+2) {animation-duration: .3525s;-webkit-animation-duration: .3525s; }
#sites a:hover, #sites a:active {
/*    background: none;
    border:1px solid transparent;
    color:#c46161;
	 font-size: 330%; 
    box-shadow:none;
    text-shadow:#060606 0px 0px 5px, #b45151 0px 1px, #b04c4c 0px 2px;
    z-index:2; */
    background: #1e90ff;
}
#search {
    height:46px;
    padding:5px 15px;
	display: none;
}
#search form {
    position:relative;
    -webkit-animation: animate-opacity .4s ease-in;
    -moz-animation: animate-opacity .4s ease-in;
}
#search input[type="text"] {
    background:rgba(22,22,22,.3);
    background: rgba(0,0,0,.1);
    border:1px solid rgba(30,30,30,.2);
    border-bottom:1px solid rgba(48,48,48,.4);
    width:100%;
    height:33px;
    padding:3px 86px 3px 6px;
    border-radius:5px;
    box-shadow: rgba(0,0,0,.5) 0 0 3px;
    color: black;
}
#search input[type="text"]:hover, #search input[type="text"]:focus {
    background: white;
}
#search button {
    cursor:pointer;
    font-size:18px;
    position:absolute;
    top:1.7px;
    right:2px;
    background:-moz-linear-gradient(top, #e9e9e9 0%, #e4dddd 35%, #cdcdcd 65%, #b3b3b3 101%);
    background:-webkit-linear-gradient(top, #e9e9e9 0%,#e4dddd 35%,#cdcdcd 65%, #b3b3b3 101%);
    background: transparent;
    border:1px solid rgba(164,164,164,.6);
    border: 0;
    color:#0f0f0f;
    text-shadow:#fefefe 0 1px;
    width:80px;
    height:30px;
    border-radius:3px;
    box-shadow:inset #fefefe 0 0 3px, #0f0f0f 0 0 3px;
    box-shadow: none;
	padding-bottom:2px;
}
#search button:hover, #search button:focus {
    background:-moz-linear-gradient(top, #fed9d9 0%, #e7dddd 35%, #d2cdcd 65%, #b7b3b3 101%);
    background:-webkit-linear-gradient(top, #fed9d9 0%,#e7dddd 35%,#d2cdcd 65%, #b7b3b3 101%);
    background: transparent;
    border:1px solid rgba(214,208,208,.75);
    border: 0;
    box-shadow:inset #fedede 0 0 6px, #0f0f0f 0 0 3px;
    box-shadow: none;
}
